@font-face {
	font-family: 'dafoe';
	src: url('/fonts/MrDafoe-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'lato';
	src: url('/fonts/Lato-Regular.ttf') format('truetype')
}
@font-face {
	font-family: 'dejavusans';
	src: url('/fonts/DejaVuSans.ttf') format('truetype')
}

body {
	font-size: 10pt;
	line-height: 13pt;
	color: #777777
}

.text-bold {
	font-weight: bold
}

.contract-page {
	margin-bottom: 10px;
	width: 100%
}

.signatureSec {
	padding-top: 10px;
	margin-right: 10px;
	position: relative
}

.row {
	margin-right: -15px;
	margin-left: -15px
}

.col-md-6 {
	width: 50%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px
}

.m-md {
	margin: 20px
}

.text-uc {
	text-transform: uppercase
}

.text-left {
	text-align: left
}

.text-right {
	text-align: right
}

.text-center {
	text-align: center
}

.pt40 {
	padding-top: 3mm;
	width: 40%
}

.text-md {
	font-size: 1.125rem
}

.clear {
	clear: both
}

.h-color {
	color: #888
}

p {
	text-align: justify;
	text-justify: inter-word
}

.text-muted {
	color: inherit !important;
	opacity: .6
}

footer {
	color: #777777;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	padding: 8px 0;
	text-align: center
}

footer .pagenum:before {
	content: counter(page)
}

.signature {
	font-family: 'dafoe', cursive;
	font-size: 38px
}

.page-break {
	page-break-after: always
}

.contract-title {
	padding: 15px 0;
	margin-top: 30px;
	color: #111111;
	font-size: 9pt
}

.attachment {
	padding: 5px 0;
	color: #111111;
	font-size: 9pt
}

.font9 {
	font-size: 9pt
}

.float-left {
	float: left
}

.float-right {
	float: right
}

.m-t-40 {
	margin-top: 40px
}

.m-t-45 {
	margin-top: 45px
}

.m-20 {
	margin: 20px 0px
}

.width40 {
	width: 40%
}

.m-b-20 {
	margin-bottom: 20px !important
}