
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #907eec;
$brand-info: #2f76e1;
$btn-info: #4a90e2;
$brand-success: #16ae9f;
$brand-warning: #fdab29;
$brand-danger: #fb6b5b;
//$brand-dark: #38354a;
$brand-dark: #263042;
$btn-dark: #4d5b76;
$brand-none: #a2a1a9;
$brand-bgcolor: #f3f6f9;
$brand-dracula: #fe528c;
$white: #fff;
$header-footer-color: #ECEAEA;
$brand-default: #999999;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//colors
$links-color: $brand-info;
$bg-color: #f3f6f9;
$white_10: rgba(255, 255, 255, 0.1);
$white: #fff;
$color_nevada_approx: #656d78;
$red: #f00;
$color_bittersweet_approx: #fb6b5b;
$color_mercury_approx: #e4e4e4;
$color_alabaster_approx: #fbfbfb;
$color_gray_nurse_approx: #e8e8e8;
$seashell: #f1f1f1;
$color_alto_approx: #dddddd;
$color_celeste_approx: #cccccc;
$color_dove_gray_approx: #747171;
$color_gallery_approx: #eeeeee;
$color_storm_dust_approx: #666666;
$color_gossamer_approx: #179f83;
$black_30: rgba(0, 0, 0, 0.3);
$color_concrete_approx: #f3f3f3;
$alabaster: #fafafa;
$color_cerulean_approx: #11a7db;
$color_cararra_approx: #ebebeb;
$color_chestnut_approx: #bf504e;
$black: #000;
$color_jungle_green_approx: #249d7f;
$color_niagara_approx: #16a085;
$color_pickled_bluewood_approx: #2e3e4e;
$color_mountain_meadow_approx: #1fcd6d;
$color_eucalyptus_approx: #18a155;
$color_persian_green_approx: #00b393;
$color_boston_blue_approx: #428bca;
$color_hint_of_green_approx: #e9fae7;
$color_madang_approx: #bbe6b5;
$color_abbey_approx: #505458;
$color_nobel_approx: #b6b6b6;
$gallery: #efefef;
$color_mystic_approx: #e5e9ec;
$color_scarpa_flow_approx: #505467;
$color_vida_loca_approx: #5e830e;
$color_blizzard_blue_approx: #a9dded;
$color_geyser_approx: rgb(216, 220, 227);
$color_pink_swan_57_approx: rgba(185, 185, 185, 0.57);
$color_ocean_green_approx: #43ac6e;
$black_70: rgba(0, 0, 0, 0.7);
$color_regent_gray_approx: #8694a3;
$color_ghost_approx: #c5cdd4;
$color_jordy_blue_approx: #92bcee;
$color_congress_blue_approx: #104d92;
$color_pattens_blue_approx: #e3f2fd;
$color_wild_sand_approx: #f5f5f5;
$color_neptune_approx: #81c6b3;
$color_fringy_flower_approx: #bbe2c4;
$color_caper_approx: #e2f2b9;
$color_cranberry_approx: #de537c;
$color_tickle_me_pink_approx: #f77a99;
$color_caribbean_green_approx: #0cc2aa;
$color_slate_gray_6_approx: rgba(120, 130, 140, .065);
$color_zircon_approx: #f6fbff;
$color_scooter_approx: #23b7e5;
$color_iron_approx: #cfdadd;
$color_red_orange_approx: #f44336;
$color_apple_approx: #4caf50;
$color_sepia_skin_approx: #a24e3d;
$color_bridesmaid_approx: #fceded;
$color_smalt_blue_approx: #607d8b;
$color_sea_green_approx: #28a745;
$color_cinnabar_approx: #eb4040;
$color_electric_violet_approx: #7908d6;
$color_catskill_white_approx: #f1f5f9;
$black_20: rgba(0, 0, 0, 0.2);
$black_19: rgba(0, 0, 0, 0.19);
$color_slate_gray_13_approx: rgba(120, 130, 140, .13);

//fonts
$font_0: FontAwesome;
$font_1: Mr Dafoe;
$font_2: cursive;
$font_3: Glyphicons Halflings;

//urls
$url_0: url(../../../public/storage/media/search-icon.png);
$url_1: url(~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot);
$url_2: url(~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix);
$url_3: url(~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff);
$url_4: url(.~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf);
$url_5: url(~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular);

@font-face {
	font-family: $font_3;
	src: $url_1;
	src: $url_2 format('embedded-opentype'), $url_3 format('woff'), $url_4 format('truetype'), $url_5 format('svg');
}
$color_14: rgba(0, 0, 0, .12);
$color_31: #008000;
$color_24: #ff0000;
$color_20: #2ecc71;
$color_21: #e74c3c;
$color_22: #f5f5f5;
